*{
  box-sizing: border-box;
}
body{
  margin-top: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  font-family: helvetica;
  font-weight: 400;
}

#logo{
  float: left;
}

.btn-info {
  border: 2px solid rgb(255, 59, 25);
  color: white;
  background-color: rgb(0, 59, 149);
  border-radius: 25px;
}

header{
  margin-left: 30%;
  clear: left;
  font-size: 2em;
}
span{
  float: left;
  }
form{
  float: left;
}
input{
  height: 2em;
  padding: .5em 0;
}
h2{
  margin-left: 35%;
  margin-top: 1em;
  width: 100%;
  float: left;
}
img{
  display: block;
  max-height: 33em;
  max-width: 80%;
  margin: auto;
}
p{
  width: 80%;
  margin-left: 10%;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.5);
}
iframe{
  display: none;
}